<div class="enroll-sheet">
  <table class="fullwidth collapse">
    <tbody>
      <tr>
        <td colspan="3" class="center head">
          <img class="barcode" src="data:image/png;base64,%BARCODE%" alt="%ENROLL_NO%">
          <img class="logo" src="%LOGO%" alt="">
          <p><b>{LNG_Application for further study in grade}</b> %LEVEL% <b>{LNG_School year}</b> %YEAR%</p>
        </td>
        <td rowspan="4" class="photo-cell">
          <img class="photo" src="%PICTURE%" alt="">
        </td>
      </tr>
      <tr>
        <td colspan="2" class="center">
          <h1>%SCHOOL_NAME%</h1>
        </td>
      </tr>
      <tr>
        <td colspan="2" class="center"><b>{LNG_Study plan}</b> <span class="line1">%PLAN%</span></td>
      </tr>
      <tr>
        <td colspan="2" class="center"><b>{LNG_Date}</b> %DATE%</td>
      </tr>
    </tbody>
  </table>
  <table class="fullwidth collapse section">
    <tbody>
      <tr>
        <td colspan="4" class="section-head"><b>1. {LNG_Registered Information}</b></td>
      </tr>
      <tr>
        <td>{LNG_Name} : %TITLE%%NAME%</td>
        <td colspan="3" class="blocknumber">{LNG_Identification No.} : %ID_CARD%</td>
      </tr>
      <tr>
        <td>{LNG_Nationality} : %NATIONALITY%</td>
        <td>{LNG_Religion} : %RELIGION%</td>
        <td colspan="2">{LNG_Birthday} : %BIRTHDAY%</td>
      </tr>
      <tr>
        <td colspan="4"><b>2. {LNG_Address}</b></td>
      </tr>
      <tr>
        <td colspan="2">{LNG_Address} : %ADDRESS%</td>
        <td colspan="2">{LNG_District} : %DISTRICT%</td>
      </tr>
      <tr>
        <td>{LNG_Amphur} : %AMPHUR%</td>
        <td>{LNG_Province} : %PROVINCE%</td>
        <td>{LNG_Zipcode} : %ZIPCODE%</td>
        <td>{LNG_Phone} : %PHONE%</td>
      </tr>
      <tr>
        <td colspan="4"><b>3. {LNG_Education qualifications used for registration}</b></td>
      </tr>
      <tr>
        <td colspan="4">{LNG_Original school} : %ORIGINAL_SCHOOL%</td>
      </tr>
      %ACADEMIC_RESULTS%
      <tr>
        <td colspan="4"><b>4. {LNG_Parent}</b></td>
      </tr>
      %PARENT%
      <tr>
        <td colspan="2"></td>
        <td colspan="2" class="center">
          {LNG_I certify that this information is true in all respects}<br><br>
          {LNG_Signed} <span class="line3">&nbsp;</span> {LNG_Applicant}<br>(%TITLE%%NAME%)
        </td>
      </tr>
      <tr>
        <td colspan="4" class="section-head"><b><u>{LNG_For staff only}</u></b></td>
      </tr>
      <tr>
        <td colspan="2"><b>{LNG_Document check}</b></td>
        <td colspan="2"><b>{LNG_Applicant qualifications}</b></td>
      </tr>
      <tr>
        <td colspan="2"><span class="checked">&nbsp;</span> {LNG_House registration copy}</td>
        <td colspan="2"><span class="checked">&nbsp;</span> {LNG_Correct}</td>
      </tr>
      <tr>
        <td colspan="2"><span class="checked">&nbsp;</span> {LNG_Educational evidence}</td>
        <td colspan="2"><span class="checked">&nbsp;</span> {LNG_Incorrect}</td>
      </tr>
      <tr>
        <td colspan="2"><span class="checked">&nbsp;</span> {LNG_Uniform photo 1 inch 3 pieces}</td>
        <td colspan="2"></td>
      </tr>
      <tr>
        <td colspan="2"></td>
        <td colspan="2">
          <br>{LNG_Signed} <span class="line3">&nbsp;</span> {LNG_Document checker}<br>
          &nbsp;&nbsp;&nbsp;&nbsp;(<span class="line3">&nbsp;</span>)
        </td>
      </tr>
    </tbody>
  </table>
  <table class="fullwidth collapse note">
    <tbody>
      <tr>
        <td class="top"><b>{LNG_Explanation}</b></td>
        <td>{LNG_ENROLL_PRINT_NOTE}</td>
      </tr>
    </tbody>
  </table>
</div>
