<div class="page">
  <table class="fullwidth collapse">
    <tbody>
      <tr>
        <td colspan=3 class=center style="position:relative">
          <img style="max-width:none;position:absolute;left:0;right:0;" src="data:image/png;base64,%BARCODE%">
          <img class="logo" src="%LOGO%">
          <p><b>ใบแจ้งความจำนงเข้าศึกษาต่อ ชั้น</b> %LEVEL% <b>ปีการศึกษา</b> %YEAR%</p>
        </td>
        <td rowspan=4 style="width:100px;position:relative">
          <img src="%PICTURE%" style="position:absolute;right:0;top:0;height:11em;width:auto;">
        </td>
      </tr>
      <tr>
        <td colspan=2 class=center>
          <h1>%SCHOOL_NAME%</h1>
        </td>
      </tr>
      <tr>
        <td colspan=2 class=center>แผนการเรียน</b><span class=line1>%PLAN%</span></td>
      </tr>
      <tr>
        <td colspan=2 class=center><b>วันที่ยื่นความจำนง</b> %DATE%</td>
      </tr>
    </tbody>
  </table>
  <table class="fullwidth collapse" style="border-top:2px solid #000">
    <tbody>
      <tr>
        <td colspan=4 style="padding-top:10px"><b>1. ข้อมูลนักเรียน</b></td>
      </tr>
      <tr>
        <td colspan=1>ชื่อ : %TITLE%%NAME%</td>
        <td colspan=3 class="blocknumber">เลขประจำตัวประชาชน : %ID_CARD%</td>
      </tr>
      <tr>
        <td>สัญชาติ : %NATIONALITY%</td>
        <td>ศาสนา : %RELIGION%</td>
        <td colspan=2>เกิดวันที่ : %BIRTHDAY%</td>
      </tr>
      <tr>
        <td colspan=4><b>2. ที่อยู่ตามทะเบียนบ้าน</b></td>
      </tr>
      <tr>
        <td colspan=2>บ้านเลขที่ : %ADDRESS%</td>
        <td colspan=2>ตำบล : %DISTRICT%</td>
      </tr>
      <tr>
        <td>อำเภอ : %AMPHUR%</td>
        <td>จังหวัด : %PROVINCE%</td>
        <td>รหัสไปรษณีย์ : %ZIPCODE%</td>
        <td>โทรศัพท์ : %PHONE%</td>
      </tr>
      <tr>
        <td colspan=4><b>3. การศึกษา</b></td>
      </tr>
      <tr>
        <td colspan=4>สถานศึกษาเดิม : %ORIGINAL_SCHOOL%</td>
      </tr>
      %ACADEMIC_RESULTS%
      <tr>
        <td colspan=2><b>4. บิดา-มารดา-ผู้ปกครอง</b></td>
      </tr>
      %PARENT%
      <tr>
        <td colspan=2></td>
        <td colspan=2 class=center>
          ขอรับรองว่าข้อมูลนี้เป็นจริงทุกประการ<br><br> ลงชื่อ
          <span class="line3">&nbsp;</span>ผู้สมัคร<br> (%TITLE%%NAME%)
        </td>
      </tr>
      <tr>
        <td colspan=4 style="border-top:2px solid #000;padding-top:10px"><b><u>เฉพาะเจ้าหน้าที่</u></b></td>
      </tr>
      <tr>
        <td colspan=2><b>ตรวจสอบเอกสารการสมัคร</b></td>
        <td colspan=2><b>คุณสมบัติผู้สมัคร</b></td>
      </tr>
      <tr>
        <td colspan=2><span class=checked>&nbsp;</span> สำเนาทะเบียนบ้าน (ฉบับจริงและฉบับถ่ายเอกสาร)</td>
        <td colspan=2><span class=checked>&nbsp;</span> ถูกต้อง</td>
      </tr>
      <tr>
        <td colspan=2><span class=checked>&nbsp;</span> หลักฐานการศึกษา</td>
        <td colspan=2><span class=checked>&nbsp;</span> ไม่ถูกต้อง</td>
      </tr>
      <tr>
        <td colspan=2><span class=checked>&nbsp;</span> รูปถ่ายเครื่องแบบนักเรียน ขนาด 1 นิ้ว จำนวน 3 รูป</td>
        <td colspan=2></td>
      </tr>
      <tr>
        <td colspan=2></td>
        <td colspan=2>
          <br>
          ลงชื่อ<span class="line3">&nbsp;</span>ผู้ตรวจสอบเอกสาร<br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(<span class="line3">&nbsp;</span>)
        </td>
      </tr>
    </tbody>
  </table>
  <table class="fullwidth collapse" style="margin-top:10px">
    <tbody>
      <tr>
        <td class=top><b>คำอธิบาย</b></td>
        <td>
          - เอกสารนี้เป็นใบแจ้งความจำนงเท่านั้น ไม่ใช่ใบสมัครเข้าศึกษาต่อ<br> - ท่านต้องแต่งชุดนักเรียนและนำเอกสารแจ้งความจำนงนี้ไปยื่นพร้อมกับหลักฐานต่างๆ ณ.สถานศึกษา<br>
        </td>
      </tr>
    </tbody>
  </table>
</div>